/* header styles */
header {
    padding: 10px 7px;
    background-color: #17c985;
    color: #22127c;
    border: solid black;
    display: flex;
    justify-content: space-between;
    border-bottom: 0px black;
    justify-content: space-around;
    
}

header h1 {
    font-weight: bolder;
    font-size: 25px;
    margin: 2px;
    color: #22127c;
    padding: 0, 0px, 0, 0;
    display: inline;
    
   
}

header a {
    color: #22127c;
}

header nav ul li {
    display: inline; 
    margin: 0, 35px;
    font-weight: bold;
    font-size: 18px;
    
}


/* body */
body {
    color: #22127c;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: teal;
}

section {
    padding: 50px;
}
/* hero style */

    .hero {
    background-image: url(./images/sand-1174698.jpeg);
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 50px;
    border: solid black;
    border-bottom: 0px black;
    
    
    }

    .hero h2 {
    border-bottom: 5px solid;
    border-color: black;
    font-size: 34px;
    color: #22127c;
    text-align: center;
    
    }

    .hero img {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 10px;

    }

    .hero p {
    line-height: 1.5;
    font-size: 12px;
    margin: auto;
    text-align: left;
    padding: 25px;
    overflow: auto;

    }

/* Work Section */
   

    
.work {
    border: solid black; 
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
.work img {
    width: 100%;
    padding: 10px 5px 20px 40px; 
    width: 350px;
    height: 290px;
    display:flex;
    display: grid;
    justify-content: space-around;
}


.work h3 {
    border-bottom: 5px solid;
    border-color: black;
    font-size: 34px;
    color: #22127c;
    text-align: center;
}

.work h4 {
    font: 15px; 
    justify-content: center;

}

.work-projects {
    border: solid black; 
    display: inline-block;
    text-align: center;
    align-items: center;
}

.work-robot {
    border: solid black; 
    display: inline-block;
    text-align: center;
    align-items: center;
}
.work-projects img {
    width: 450px; 
    height: 350px;
}

/* Contact Section */
.contact {
    
    border: solid black; 
    border-bottom: 0px black; 
    border-top: 0px black;
}

.form {
    width: 450px;
    text-align: left;
    border: black solid;
    background-color: tan;
    padding: 5px 20px 15px 5px;
}

/*Resume*/
.resume {
    border: black solid;
}

/* Footer */
footer {
    background: #17c985; 
    width: 100%;
    padding: 20px;
    margin: 10px;
    margin: 0;
    border: black solid; 
    }
