/* header styles */
header {
    padding: 10px 7px;
    background-color:tan;
    color: #22127c;
    border: solid black;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
}

header h1 {
    font-weight: bolder;
    font-size: 25px;
    margin: 10px;
    color: #22127c;
    padding: 0, 0px, 0, 0;
    display: inline; 
}

header a {
    color: #22127c;
}

header nav ul li {
    display: inline; 
    margin: 0, 35px;
    font-weight: bold;
    font-size: 18px;
    
}


/* body */
body {
    color: #22127c;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #80cece;
}

section {
    padding: 50px;
}
/* hero style */

    .hero {
    background-color: #80cece;
    height: 500px;
    display: block;
    padding: 50px;
    border-right: solid black;
    border-left: solid black;
    }

    .hero h2 {
    border-color: black;
    font-size: 34px;
    color: #22127c;
    text-align: center;
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
    }

    .hero img {
    width: 18%;
    margin-top: auto;
    float: left;
    border: black solid;  
    box-shadow: 7px 12px 16px black;
   }

    .hero p {
    line-height: auto;
    font-size: auto;
    margin: auto;
    text-align: left;
    padding: 0 0 0 17px;
    overflow: auto;
    }

/* Work Section */

.work-set {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
   
.work {
    border-right: solid black; 
    border-left: solid black;
    justify-content: space-evenly;
}
.work img {
    width: 100%;
    padding: 0; 
    width: 350px;
    height: 290px;
    display:flex;
    display: grid;
    justify-content: space-around;
}


.work h3 {
    border-color: black;
    font-size: 34px;
    margin-right: 30%;
    color: #22127c;
    text-align: center;
    padding: 0 0 0 150px;
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
}

.work h4 {
    font-size: 15px;
    color: #22127c;
}

.work-projects {
    border: solid black; 
    display: inline-block;
    text-align: center;
    box-shadow: 7px 12px 16px black;
    width: auto; 
    margin-right:auto;
    margin-left: auto;
    background-color: tan;
}

.work-projects:hover{
    transform: scale(1.1);
}

.work-robot {
    border: solid black; 
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    box-shadow: 7px 12px 16px black;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: tan;
}

.work-robot:hover {
    transform: scale(1.1);
}

.coming-soon {
    border: solid black;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    box-shadow: 7px 12px 16px black;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: tan;
}

.coming-soon:hover {
    transform: scale(1.1)
}

.work-projects img {
    width: 100%;
}

/* Contact Section */
.contact {
    
    border: solid black; 
    border-bottom: 0px black; 
    border-top: 0px black;
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
}

.form {
    width: 100%;
    text-align: center;
    border: black solid;
    background-color: tan;
    padding: 5px 0 15px 0;
    box-shadow: 7px 12px 16px black;
}

/*Resume*/
.resume {
    border: black solid;
    border-top: 0px;
    text-align: center;
}

.resume p {
    color: #22127c;
    display: inline-block;
}

.resume h3 {
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
}

/* Footer */
footer {
    background: tan; 
    width: 100%;
    padding: 8px;
    margin: 10px;
    margin: 0;
    border: black solid; 
    box-shadow: 7px 12px 16px black;
    text-shadow: 0 9px 14px rgb(68 44 157 / 50%);
}
